:root{
    --preto:#000000;
    --branco:#ffffff;

}

body{
 background-color:var(--preto);
 color:var(--branco);

}

img{
    width: 10%;
}

header{

    display:flex;
    align-items: center;
    justify-content: space-around;

}
.OBAMA-BEST{
    width: 50%;
}
    
.GODOBAMA{
    display:flex;
    background-color:goldenrod;
    margin: 20px;
    padding: 44px;
    border-radius: 50px;
    border: 5px solid rgb(255, 255, 255);
}

#desenvolvedores{
display: grid;
grid-template-columns: 33% 33% 33%;
text-align: center;
}

.foto-equipe{
width: 40%;
}

.pessoa{
    background-color: rgb(182, 134, 14);
border: 12px solid white;
margin: 12px;
border-radius: 50px;
}

.afa{
border: 3px solid white;
border-radius: 50%;
}