:root{
    --marrom:#573400;
    --preto:#000000;

}

body{
 background-color:var(--marrom);
 color:var(--preto);

}

img{
    width: 10%;
}

header{

    display:flex;
    align-items: center;
    justify-content: space-around;

}
.OBAMA-BEST{
    width: 50%;
}
    
.GODOBAMA{
    display:flex;
    background-color:white;
    margin: 20px;
    padding: 44px;
    border-radius: 50px;
    border: 5px solid black;
}

.desenvolvedores{
display: grid;
grid-template-columns: 33% 33% 33%;
text-align: center;
}

.foto-equipe{
width: 40%;

}