:root{
    --marrom:#573400;
    --preto:#000000;

}

body{
 background-color:var(--marrom);
 color:var(--preto);

}

img{
    width: 10%;
}

header{

    display:flex;
    align-items: center;
    justify-content: space-around;

}
.GODOBAMA{
    width: 20%;
}
    
.GODOBAMA{
    display:flex
}